:root {
    --primary-color: #e50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#appMovie {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
}

.header {
    height: 56.25rem;
    position: relative;
    overflow: hidden;
}

.menu {
    max-width: 75.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu__right .menu__logo  {
    margin-top: 20px;
    width: 9.2rem;
    height: 2.5rem;
    fill: var(--primary-color);
}

.menu__left {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

.menu__transalate {
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    color: white;
    padding: 0 5px;
    z-index: 1;
}

.menu__transalate i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    padding-left: 2px;
}

#transalate {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.5px;
    outline: none;
    color: white;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.1);
}

#transalate option {
    color: black;
    background-color: white;
}

#btn__signIn {
    height: 2rem;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#btn__signIn:hover {
    background-color: rgba(229,9,20,0.8);
}

.header__background {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.header__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}
.header__content {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header__content .content {
    max-width: 36.74rem;
    height: 25.19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.content h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.5px;
}
.content .content__price {
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 900;
}
.content .content__email {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form__container {
    width: 70%;
    position: relative;
}
.form__container input {
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: rgba(30,38,52,0.5);
    border: 1px solid rgb(94,94,94);
    border-radius: 5px;
}
.form__container .placeholderText {
    position: absolute;
    font-size: 1rem;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(177,186,186);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    pointer-events: none;
    transition: 0.2s ease all;
}

.form__container input:focus,
.form__container input:not(:placeholder-shown) {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: rgba(30,38,52,0.5);
    color: white;
    outline: none;
}


.form__container input:focus + .placeholderText,
.form__container input:not(:placeholder-shown) + .placeholderText {
    top: 12px;
    font-size: 0.8rem;
    color: white;
}

.header__form .btn--start {
    padding: 0 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    line-height: 1;
    transition: background-color 0.5s ease;
}

.btn--start:hover {
    background-color: rgba(229,9,20,0.8);
}

.curve {
    width: 100%;
    height: 6.25rem;
    background: radial-gradient(
                    50% 500% at 50% -420%,
                    rgba(64, 97, 231, 0.4) 80%,
                    rgba(0, 0, 0, 0.1) 100%
                ),black;
    position: relative;
    bottom: 60px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-top: 2px solid;
    border-color: var(--primary-color);
}

.container {
    height: 100%;
    background-color: rgb(0,0,0)
}

.listMovie {
    width: 66.12rem;
    margin: 0 auto;
}

.listMovie h2 {
    font-family: "Ubuntu",sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
}

.cardList {
    list-style-type: none;
    margin-top: 1.5rem;
}

.btn__movie {
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn__movie:hover{
    transform: scale(1.1);
}

.btn__movie img {
    border-radius: 5px;
    object-fit: cover;
}

.btn__movie span {
    position: absolute;
    bottom: 2rem;
    left: -1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.25rem;
    font-weight: 800;
    color: black;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.card__container {
    margin-bottom: 3rem;
}

.card-wrapper {
    margin-left: 3.3rem;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: rgba(64, 97, 231, 0.4);
} 

.boxMovie {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translateY(80%);
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0%);
    transition: all 0.5s ease;
}

.boxMovie.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(85%);
}


.movie__intro {
    width: 41.7rem;
    height: 39rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.movie__intro .intro__header {
    width: 100%;
    height: 70%;
    position: relative;
}

.intro__header .imageIntro {
    width: 100%;
    height: 100%;
    background-image: url("https://occ-0-395-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABVV9gbt3EJsyDMLSD-0Jk01mW5lvHJX1STWaCA0VYXvolLOLAtSc3ufX4YLlJUFrL3QIzieFK_1tQJGhJbPCKqElfp48VWpHAjyx.webp?r=513");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 1rem;
}

.intro__header .imageIntro::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1px;
    content: "";
    background: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
    z-index: 2;
}

.intro__header img {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    z-index: 3;
}

.intro__context {
    height: 30%;
    background: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 2.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.movie__type {
    margin: 0.2rem 0 1.2rem 0.2rem;
}

.movie__type span {
    font-size: 14px;
    color: #FFFFFFB3;
    background: #414141;
    padding: 5px;
    border-radius: 5px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 400;
}

.intro__context p {
    font-size: 1rem;
    color: white;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.btn--startMovie {
    width: 30%;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem 0 1rem 0 ;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: 0;
    cursor: pointer;
    transition: background 0.5s ease;
}

.btn--startMovie span svg {
    width: 1.5rem;
    height: 1.5rem;
}

.btn--startMovie:hover {
    background: rgba(229,9,20,0.8);
}

.exitIntro {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.2s ease;
}

.exitIntro:hover {
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.4);
}

.introContext {
    width: 100%;
    color: white;
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.introContext.wrapper {
    width: 1/4;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 1rem;
    border-radius: 15px;
}

.introContext.wrapper h3 {
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.introContext.wrapper p {
    font-size: 1rem;
    color: #FFFFFFB3;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.introContext__icon {
    display: flex;
    justify-content: flex-end;
}

.container__button {
    margin-top: 2rem;
}

.btn__click {
    width: 100%;
    height: 5.25rem;
    background-color: rgb(45,45,45);
    border: none;
    color: white;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn__click:hover {
    background-color: rgba(45,45,45,0.9);
}

.box__content {
    margin-top: 5px;
    background-color: rgb(45,45,45);
    padding: 1rem;
    margin-bottom: 1rem;
    display: none;
}

.box__content.active {
    display: block;
}

.box__content p {
    font-size: 1.5rem;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.2;
    text-align: justify;
}

.footer--signup {
    padding: 1rem;
    text-align: center;
    margin-top: 4rem;
}

.footer--signup p {
    font-size: 1.5rem;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.form--signup {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.signup__input {
    width: 50%;
    position: relative;
    border-radius: 5px;
}

.signup__input .input__email {
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem 1rem 0.5rem;
    outline: none;
    border: 1px solid rgb(94,94,94);
    border-radius: 5px;
    background-color: rgb(15,15,15);
}

.signup__input .placeholderEmail {
    position: absolute;
    color: rgb(206, 212, 212);
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease;
}

.signup__input input:focus + .placeholderEmail,
.signup__input input:not(:placeholder-shown) + .placeholderEmail {
    top: 14px;
    font-size: 1rem;
    color: rgb(206, 212, 212);
}

.signup__input input:focus,
.signup__input input:not(:placeholder-shown) {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.form__submit {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.form__submit:hover{
    background-color: rgba(229,9,20,0.8);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.footer__container .contact {
    font-size: 1.2rem;
    color: rgb(189, 189, 189);
    text-decoration: underline;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
}

.footer__section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.footer__section ul li {
    width: 25%;
    margin-bottom: 1rem;
}

.footer__section ul li a{
    font-size: 1.1rem;
    color: rgb(189,189,189);
    font-family: "Ubuntu", sans-serif;
}

.footer__container .menu__transalate {
    width: 15%;
}

.footer__title {
    color: rgb(189,189,189);
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1;
}

.recaptcha--note {
    color: rgb(116, 116, 116);
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 6rem;
}

.recaptcha--note a{
    color: rgb(42, 125, 250);
}


/* Responsive */

@media only screen and (max-width: 1366px){
    .menu {
        width: 54rem;
    }

    .container .listMovie {
        width: 64rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (max-width: 1024px){
    body {
        font-size: 16px;
    }
    .menu {
        width: 53.8rem;
    }
    .container .listMovie {
        width: 64rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .listMovie .introContext {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .introContext .introContext.wrapper {
        width: 40%
    }
}

@media only screen and (max-width: 972px) {
    body {
        font-size: 15px;
    }
    .menu {
        width: 43.2rem;
    }
    .container .listMovie {
        width: 47.2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
        .listMovie .introContext {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .introContext .introContext.wrapper {
        width: 40%
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    .menu {
        width: 43.2rem;
    }
    .container .listMovie {
        width: 47.2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
        .listMovie .introContext {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .introContext .introContext.wrapper {
        width: 40%
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .menu {
        width: 27rem;
    }
    .header__content .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container .listMovie {
        width: 30rem;
    }
    .listMovie .introContext {
        flex-wrap: wrap;
    }
    .introContext .introContext.wrapper {
        width: 100%
    }
    .cardItem {
        text-align: center;
    }
    .btn__movie .number {
        left: 3.5rem;
    }
    .footer__container .menu__transalate {
        width: 30%;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 14px;
    }
    .menu {
        width: 20rem;
    }
    .menu__left {
        flex-wrap: wrap;
        margin-left: 3rem;
    }
    .btn__movie {
        right: 2rem;
    }
    .container .listMovie {
        width: 27rem;
    }
    .footer__section ul {
        justify-content: space-between;
    }
    .footer__section ul li {
        width: 30%;
    }
    .footer__container .menu__transalate {
        width: 40%;
    }
    .movie__intro {
        height: 46rem;
        padding: 0 1rem 0 1rem;
    }
    .btn--startMovie {
        width: 40%;
    }
    .movie__type {       
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.2rem;
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 13px;
    }
    .menu {
        width: 21rem;
    }
    .menu__left {
        flex-wrap: wrap;
        margin-left: 3rem;
    }
    .btn__movie {
        right: 2rem;
    }
    .container .listMovie {
        width: 24rem;
    }
    .footer__section ul {
        justify-content: space-between;
    }
    .footer__section ul li {
        width: 30%;
    }
    .footer__container .menu__transalate {
        width: 40%;
    }
    .header__content {
        align-items: flex-start;
        margin-top: 4rem;
    }
    .content {
        gap: 1rem;
    }
    .curve {
        bottom: 10rem;
    }
    .imageIntro img {
        width: 80%;
    }

    .movie__intro {
        height: 53rem;
        padding: 0 1rem 0 1rem;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 12px
    }
    .menu {
        width: 19rem;
    }
    .menu__left {
        flex-wrap: wrap;
        margin-left: 3rem;
    }
    .btn__movie {
        right: 2rem;
    }
    .container .listMovie {
        width: 20rem;
    }
    .movie__intro {
        height: 60rem;
    }
    .btn--startMovie {
        width: 50%
    }
}
